/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.bg-dark {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,68,185,1) 100%);
}

body {
    background: rgb(60,68,185);
    background: linear-gradient(90deg, rgba(60,68,185,1) 0%, rgba(0,0,0,1) 100%);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.header {
    margin: 0px;
    padding: 0px;
    background-color: darkblue;
}

    .header h1, .header h2, .header h3, .header h4, .header h5 {
        margin: 0px;
        padding: 0px 0px 0px 10px;
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

table {
    border: 1px solid #355E3B;
    border-collapse: collapse;
}

th, td {
    border: none !important;
}


table thead tr {
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,68,185,1) 100%);
}

table tbody tr:nth-child(even) {
    color: white;
    background: rgb(60,68,185);
    background: linear-gradient(90deg, rgba(60,68,185,1) 0%, rgba(0,0,0,1) 100%);
}

table tbody tr:nth-child(odd) {
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,68,185,1) 100%);
}

table.dataTable tbody tr.odd {
    color: white;
    background: rgb(60,68,185);
    background: linear-gradient(90deg, rgba(60,68,185,1) 0%, rgba(0,0,0,1) 100%);
}

table.dataTable tbody tr.odd {
    color: white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(60,68,185,1) 100%);
}

.col-sm-2{
    color: white;
}

.col-sm-10{
    color: white;
}

label{
    color: white;
}

select{
    color: white;
}

option{
    color: black;
}

.dataTables_info{
    color: white;
}

h1, h2, h3, h4, h5{
    color: white;
}

input{
    color: white;
}

a {
    color: antiquewhite;
}